body {
  background: black;
  color: white;
}

.main {
  font-family: 'Raleway', sans-serif;
  font-size: 5em;
  margin: 0 auto;
  font-weight: 200;
}

.navigation {
  margin-top: 15%;
}

.user-nav {
  margin-top: 30%;
  color: #ef1ac9;
}

.nav-box {
  margin-top: 5%;
}

.playlist-nav {
  margin-top: 30%;
  color: #b50ce6;
}

.playlistView {
  background-color: white;
  color: black;
}
